---
layout: archive
---

{{ content }}


<h2 class="archive__subtitle">{{ site.data.ui-text[site.locale].about_me | default: "About me" }}</h2>

<p align="justify">
Ph.D., Engineering Mechanics, Virginia Tech, USA <br>

Graduate Certificate, Computational Engineering Science and Mechanics, Virginia Tech, USA <br>

B.E., Civil Engineering, Jadavpur University, India <br><br>


<a href="/files/SN-CV-July22.pdf" title="CV">Academic CV</a>
</p>
{% for post in paginator.posts %}
  {% include archive-single.html %}
{% endfor %}

{% include paginator.html %}
