---
layout: archive
---

{{ content }}


<h2 class="archive__subtitle">{{ site.data.ui-text[site.locale].about_me | default: "About me" }}</h2>

<p align="justify">
Ph.D., Engineering Mechanics, Virginia Tech, USA <br>

Graduate Certificate, Computational Engineering Science and Mechanics, Virginia Tech, USA <br>

B.E., Civil Engineering, Jadavpur University, India <br><br>

<h2 class="archive__subtitle">{{ site.data.ui-text[site.locale].research_interests | default: "Reearch interests" }}</h2>

<p align="justify">
My interests are in theory and applications of nonlinear dynamics and chaos and their integration with data-driven methods. This constitutes developing new methods - analytical and numerical - for solving problems in engineering and natural sciences.<br><br>

<b>Nonlinear dynamics and chaos:</b> Dynamical mechanism of chemical reactions, Geometric and statistical methods of chaotic dynamics, Invariant manifolds and coherent sets in phase space, Partial control of escape and transition dynamics.<br><br>

<b>Data-driven methods:</b> Transport barriers in atmosphere and ocean, Machine learning phase space structures, Reduced order modeling, Defect and anomaly detection in structural dynamics.<br><br> 

<a href="/files/SN-CV-July22.pdf" title="CV">Academic CV</a>
</p>
{% for post in paginator.posts %}
  {% include archive-single.html %}
{% endfor %}

{% include paginator.html %}
