---
layout: archive
---

{{ content }}

<!-- <h3 class="archive__subtitle">{{ site.data.ui-text[site.locale].recent_posts | default: "Recent Posts" }}</h3> -->

<h2 class="archive__subtitle">{{ site.data.ui-text[site.locale].current_appointment | default: "Current appointment" }}</h2>

Research fellow, Mathematics Institute <br>
B2.15, Zeeman Building, University of Warwick <br>
Coventry CV4 7AL, UK

<h2 class="archive__subtitle">{{ site.data.ui-text[site.locale].about_me | default: "About me" }}</h2>

My educational background is in applied mathematics and computational science with research interests in dynamical systems theory and applications to engineering, physical and chemical sciences.<br>

I have a Ph.D. in Engineering Mechanics and a Graduate Certificate in 
Computational Engineering Science and Mechanics from Virginia Tech, USA. Prior to that, I obtained a B.E. in Civil Engineering from Jadavpur University, India.<br>

I have held post-doctoral positions in engineering at University of Delaware, University of Pennsylvania, Virginia Tech and in mathematics at University of Bristol and Warwick. During these appointments, I have developed computational methods for discovering structures underlying transport in the phase space of nonlinear dynamical systems that arise in fluid mechanics, rigid body dynamics, chemical reactions, and plasma physics.<br>


<a href="/files/SN-CV-July22.pdf" title="Academic CV">Academic CV</a>

{% for post in paginator.posts %}
  {% include archive-single.html %}
{% endfor %}

{% include paginator.html %}
